target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/uploads/avatars/1/cac1f485-5ddc-4313-95e3-906d725a53f8-21b399eef5a6592a75c20e291f21cc14.jpg
/uploads/books/1/e4e0274b-e3de-42cd-ad46-0eee4adb490a-6017724425.jpg
/uploads/books/2/eea42d55-2746-4d41-9f7a-bc35dd09bb93-6017724425.jpg
